html{
  position: relative;
  min-height: 100%;
}
.center_text {
    font-family: sans-serif;
    color: #fff;

    background: #666;
    margin-left: -40px;
    text-align: center;
}
.center {
    font-family: sans-serif;
    margin-left: -40px;
    text-align: center;
}
.left_text{
    font-family: sans-serif;
    margin-left: -50px;
}
.base_text {
    font-family: sans-serif;
    color: #fff;

    margin-left: 0px;
    margin-right: 24px;
    text-align: left;
}
.inl_blk_menu_text{
    font-family: sans-serif;
    color: #000;

    vertical-align: middle;
    display: inline-block;
    white-space: normal;

    margin-top: 0px;
    margin-bottom: 5px;
    margin-right: 6px;
}
.margin_left{
    color: #fff;
    margin-left: -30px;
}
body{
    height:100%;
}
header {
    height:100%;
}
.main{
    height:100%;
}
.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10px;
  background: #666;
}
.clearfix:after{
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    /*line-height: 0;*/
    /*height: 0;*/
    margin-left: -4px;
    margin-right: -8px;
    height:100%;
}
.l {
    width: 202px;
    float: left;
    background: #909090;
    margin-top:  0px;
    margin-left: -10px;
    height: 100%;
}
.c {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    padding: 0px;
    height:100%;
    overflow: hidden;
}

label.uploadbutton {
    margin-left: -7px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05); 
    border-radius: 2px;  
    height: 16px;
    padding-bottom: 4px;
    margin-top: -5px;
    display: inline-block;
}

label.uploadbutton input {
    display: none;   
}

label.uploadbutton .button {
    width: 100px;
    margin-right: 5px;
    line-height: 20px;
    text-align: center;
    background: #7300df;
    transition: background 0.2s;
    border: 1px solid rgba(0,0,0,0.1);
    color: #fff;
    display: inline-block;
}
label.uploadbutton:hover .button {
    background: green;
}

label.uploadbutton .input {
    margin-left: 5px;
    margin-right: 8px;
    width: 300px;
    display: inline-block;
}

.uniqSizeWidth{
    vertical-align: middle;
    padding-top: 32px;
    margin-top: -10px;
    margin-left: -10px;
    width: 242px;
    height: 20px;
    background: #444;

    display: inline-block;
}
.addy_el{
    padding-top: 32px;
    margin-top: -10px;
    margin-left: -4px;
    width: 16px;
    height: 20px;
    background: #909090;

    display: inline-block;
    vertical-align: middle;
}
.addy_el2{
    padding-top: 32px;
    margin-top: -10px;
    margin-left: -4px;
    margin-right: 8px;
    width: 20px;
    height: 20px;
    background: #666;

    display: inline-block;
    vertical-align: middle;
}
.addy_el3{
    padding-top: 32px;
    margin-top: -10px;
    margin-left: -4px;
    width: 20px;
    height: 20px;
    background: #909090;

    display: inline-block;
    vertical-align: middle;
}
.inl_blk{
    font-family: sans-serif;

    vertical-align: middle;
    display: inline-block;

    white-space: normal;
    margin-top: -10px;
    margin-right: 6px;
}
.slct_style{
    margin-left: 0.35vw;
    display: inline-block;
    vertical-align: middle;
    width: 50px;
}
.button_agree{
    display: inline-block;

    margin-left: 0vw;
    margin-top: -1px;
    margin-bottom: -1px;
	background: green repeat-x;
    padding: 5px 3px 5px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    line-height: 1;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: 0 0.5px 0.5px #999;
    -webkit-box-shadow: 0 0.5px 0.5px #999;
    text-shadow: 0 -0.5px 0.5px #222;
    /*border-bottom: 1px solid #072*/;
    cursor: pointer;
}
.button_bold{
    display: inline-block;

    margin-left: 0.35vw;
	background: #bbb repeat-x;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 3px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    line-height: 1;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: 0 1px 1px #999;
    -webkit-box-shadow: 0 1px 1px #999;
    text-shadow: 0 -1px 1px #222;
    cursor: pointer;
}
.clicked_bold{
    display: inline-block;

    margin-left: 0.35vw;
	background: #555 repeat-x;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 3px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    line-height: 1;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: 0 1px 1px #999;
    -webkit-box-shadow: 0 1px 1px #999;
    text-shadow: 0 -1px 1px #222;
    cursor: pointer;
}
/*.padding_tb{
    padding-top: 6px;
    padding-bottom: 5px;
}*/
.white_text{
    color: #fff;
}